section(data-background="images/bg.jpg")
    h2 Component - Single File Component
    include sub-sllides/code-5.html
    aside.notes The central entity we are working with in Vue.js is the component. It offers such a thing as Single File Component. This is a file with the Vue extension. And the component essentially consists of three things. This is a template where we write html, script and style. We will not talk about style, because these are the usual styles css, less, sass, scss. The only feature is scoped styles. These are styles that will be available only in this component.