section(data-background-color='rgb(71,179,131)' data-background="images/bg.jpg" )
    image(src='images/vue3.png')
    aside.notes 1. Well, what is on the way. This is Vue Composition Api.
                | 2. Thank you for the attention.