section(id='fragments' data-background="images/bg.jpg")
    h2 What else interesting...
    p.fragment.fade-right Computed properties
    p.fragment.fade-right Component Transitions
    p.fragment.fade-right Component Slots
    p.fragment.fade-right Reactivit
    aside.notes And you can continue to delve further into the work of Vue.js, but this is at the training stage. But Vue.js still has a lot of interesting things. For example computed properties, component transition for animation. Components slots for transmitting props. And reactivity is very interesting.