section(id='fragments' data-background="images/bg.jpg")
  h2 Github Stars
  p.fragment.fade-right
    image(src='images/github-vue.png')
  p.fragment.fade-right
    image(src='images/github-react.png')
  p.fragment.fade-right
    image(src='images/github-ang.png')
  aside.notes Let's start with this one. From a rating on GitHub. This is not a photoshop, I took screenshots about 5 days ago, preparing for the presentation. Of course, Vue.js and React.js are about the same in popularity. Until recently, they changed places, but for some time the first place belongs to Vue.js. 
