section(data-background-color='rgb(71,179,131)' data-background="images/bg.jpg")
    .slide-2__wrapper
        p(data-color='#fff') Vue was first released in February 2014 by Evan You after working for Google using AngularJS in a number of projects
        image(src='images/evan-you.png')
    aside.notes Vue.js was released by one person in 2014. And it was not a framework that was released by any large company. It was released by one person, it was Evan Yu. And because of his Asian appearance and origin, it seems to many that Vue.js is some kind of Chinese framework. But this, of course, is not true. Ewan Yu is Chinese by nationality, but lives in the USA, worked for Google. Worked with Angular, maybe this encouraged him to develop his own framework. Since 2016, the second version has been released.
