section(data-background="images/bg.jpg")
    h2 What Vue is about:
    ul
        li Reactive & composable components
        li Virtual DOM
        li Predictable & clear data flow
        li All-inclusive framework
        li Simplicity & Lowest learning curve as of 2018
    aside.notes What is Vue.js in general, what does it carry there. Reactive components, this is a component framework, it uses a virtual DOM. He is for a predictable data stream, he is an all-inclusive framework, a lot of things are included in it out of the box. You do not need to build a framework from the library and the zoo of different plugins.
