section.slide-3(data-background-color='#fff' id='fragments' data-background="images/bg.jpg")
    p.fragment.fade-down
        image(src='images/logo-company/behance.svg')
    p.fragment.fade-down
        image(src='images/logo-company/nbc.svg')
    p.fragment.fade-down
        image(src='images/logo-company/euronews.svg')
    p.fragment.fade-down
        image(src='images/logo-company/gitlab.svg')
    p.fragment.fade-down
        image(src='images/logo-company/adobe.svg')
    p.fragment.fade-down
        image(src='images/logo-company/alibaba.svg')
    aside.notes These are the logos of various companies. Which services one way or another use Vue.js.                        