section(data-background-color='rgb(71,179,131)' data-background="images/bg.jpg" )
  image(src='images/vue-image.png')
  aside.notes Hello everyone! My name is Sergey and I am a beginner frontend developer. I want to introduce such a js framework as Vue.js. As a beginner developer and a native js student, I really like this framework, because it is easy to learn and easy to learn. I hope I can convey this to you in my presentation. I will not compare it with other frameworks, but just talk about Vue.js
						
