section.slide-14(id='fragments' data-background="images/bg.jpg")
    h2 Community Projects
    section
        p.fragment.fade-right
            image(src='images/nuxt-logo.png')
        p.fragment.fade-right
            image(src='images/quasar-logo.png')
        p.fragment.fade-right
            image(src='images/material-logo.png')
    section
        h3 And more...  
    aside.notes There are also many community projects. There is ssr in the form of nuxt.js, there is pwa in the form of quasar, there is material disagn. And a lot of many things. The community is expanding, Vue is growing.    
