section(data-background="images/bg.jpg")
    h2 Component - Directives
    section
        include sub-sllides/code-6.pug
    section    
        include sub-sllides/code-7.pug
    aside.notes 1. This is how the template of any Vue.js application looks. All interactive work with js in template is done using directives. This is the v-bind directive, it binds some data to the component. This is the v-if, v-else directive, they allow you to draw some elements or not to draw, depending on the conditions. V-on listener event. It was a complete view of these directives.
                | 2. And this is an abbreviated record of the same directives.