.slide-14 {

    p {
        display: inline-block;
        width: 32%;

        img {
            width: 85%;
            background: none;
            border: none;
            box-shadow: none;
        }
    }
}