pre
    code.hljs(data-trim data-line-numbers='1|5')
        |<template>
        |    <div class="parent-component">
        |        &lt;Child v-on:nameChange="handleNameChange" v.bind:name="parentData.name"&gt;&lt;/Child&gt;
        |    </div>
        |</template>
